<h1><%= t('views.common.title_show', name: Report.model_name.human) %></h1>

<div class="show-item">
  <%= render @report %>
</div>

<nav class="page-nav">
  <% if @report.created_user_id == current_user.id  %>
    <%= link_to t('views.common.edit', name: Report.model_name.human.downcase), edit_report_path(@report) %> |
  <% end %>
  <%= link_to t('views.common.back', name: Report.model_name.human.downcase), reports_path %>

  <% if @report.created_user_id == current_user.id  %>
    <%= button_to t('views.common.destroy', name: Report.model_name.human.downcase), @report, method: :delete %>
  <% end %>
</nav>

<div class="show-comments">
  <%= Comment.model_name.human %>
  <%= render 'comments/index', commentable: @report, comments: @comments %>
  <%= render 'comments/form', commentable: @report, comment: @comment %>
</div>
